force-app/main/default/flows/Contract_after_create_or_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_values_for_cloned_contract</name>
        <label>Assign values for cloned contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContract.Parent_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_contract</name>
        <label>Clone contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_for_cloned_contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Entry_Criteria</name>
        <label>Entry Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_contract</targetReference>
            </connector>
            <label>Is activated</label>
        </rules>
        <rules>
            <name>Is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_record</targetReference>
            </connector>
            <label>Is new</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varContractNumber</name>
        <dataType>String</dataType>
        <expression>&quot;x-&quot;&amp;TEXT(YEAR(TODAY()))&amp;&apos;-&apos;&amp;{!$Record.ContractNumber}</expression>
    </formulas>
    <interviewLabel>Contract after create or update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract after create or update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_contract</name>
        <label>Create contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varContract</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Contract_record</name>
        <label>Update Contract record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Contract_Id__c</field>
            <value>
                <elementReference>varContractNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entry_Criteria</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
