force-app/main/default/flows/Contract_Employee_after_create_or_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assignment_contract_administrator</name>
        <label>Assignment contract administrator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContract.Contract_Administrator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contract_with_contract_lookup_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_contract_manager</name>
        <label>Assignment contract manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContract.Contract_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contract_with_contract_lookup_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_contract_owner</name>
        <label>Assignment contract owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContract.Contract_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contract_with_contract_lookup_fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Entry_criteria</name>
        <label>Entry criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contract_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_contract_owner</targetReference>
            </connector>
            <label>Is Contract Owner</label>
        </rules>
        <rules>
            <name>Is_Contract_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_contract_manager</targetReference>
            </connector>
            <label>Is Contract Manager</label>
        </rules>
        <rules>
            <name>Is_Contract_Adminstrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_contract_administrator</targetReference>
            </connector>
            <label>Is Contract Adminstrator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract Employee after create or update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Employee after create or update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Update_contract_with_contract_lookup_fields</name>
        <label>Update contract with contract lookup fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varContract</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Reset_contract_lookup_fields</name>
        <label>Reset contract lookup fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entry_criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Administrator__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Owner__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_contract_lookup_fields</targetReference>
        </connector>
        <object>Contract_Employee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
